@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

/* Global */
:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --h-font: Poppins;
  --b-font: "Open Sans", sans-serif;
  --h-weight: Weights;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

/* Navigation */
